.header {
    display: flex;
    padding-left: 4rem;
    align-items: center;
    position: relative;
}

.header-logo {
    flex: 2;
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 2.5rem;
    font-family: Adriane;
    color: #a97e76;
}

.logo-subtitle {
    font-size: 1.2rem;
    color: #a97e76;
}

.logo-img {
    height: 4.3rem;
    width: auto;
    margin: 1rem;
}

.header-menuitem {
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease-in-out;
    color: #a97e76;
}

.header-menuitem:hover {
    background-color: #f5e0bf;
}

.header-menubuttonwrapper {
    display: flex;
    justify-content: center;
}

.header-menubutton {
    height: 3.7rem;
    aspect-ratio: 1/1;
    position: relative;
}

.vline {
    position: absolute;
    width: 3px;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hline {
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-menu {
    flex: 3;
    display: flex;
    justify-content: center;
}

.menu-fullscreen {
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100dvh - 7rem);
}

.menuitem {
    padding: 1rem 3rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem;
    color: #a97e76;
}

.menuitem:hover {
    background-color: #f5e0bf;
}

.header-hiddenmenu {
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
