
@font-face {
    font-family: "Josefin sans";
    src:
        local("Josefin sans"),
        url("./fonts/josefin-sans.ttf") format("truetype");
}

@font-face {
    font-family: "Great Vibes";
    src:
        local("Great Vibes"),
        url("./fonts/GreatVibes.ttf") format("truetype");
}

@property --odd-background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #faf9f6;
}

@property --even-background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #deebf7;
}

@property --h1-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #083584;
}

@property --h2-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #083584;
}

@property --h3-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #083584;
}

body {
    font-family: Lora, serif;
    margin: 0;
}

p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: #083584;
}

.sub-p {
    font-size: clamp(0.9rem, 1.8vw, 1.13rem);
}

li > p {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
}
.section-content {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    padding-left: max(10%, 3rem);
    padding-right: max(10%, 3rem);
}

.section-h1 {
    font-size: 2rem;
    color: var(--h1-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.section-h2 {
    font-size: 1.5rem;
    color: var(--h2-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.section-h3 {
    font-size: 1.25rem;
    color: var(--h3-color);
}

.section:nth-child(even) {
    background-color: var(--even-background-color);
    --h1-color: #bcbddc;
    --h2-color: #bcbddc;
}

.section:nth-child(odd) {
    background-color: var(--odd-background-color);
    --h1-color: #9ecae1;
    --h2-color: #9ecae1;
}

.subsection {
    background-color: #c6dbef;
    padding: min(10%, 3rem);
}

